body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

.page {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section {
    width: 100%;
    height: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .menu {
    display: flex;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
  }
  .navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
  }

  .navbar li {
    display: inline;
    margin-right: 20px;
  }

  .navbar a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    display: block;
    white-space: nowrap; /* Impedisce la rottura delle parole */
  }

   .header {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: url("images/sfondo_header.jpg");
    background-size: cover; /* Assicura che l'immagine copra l'intera area */
    background-position: center; /* Centra l'immagine */
  }
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
   
   .description-header {
    position: relative;
    z-index: 2; /* Assicura che il testo sia sopra l'immagine */
    text-align: center;
    color: white;
    padding: 20px;
    box-sizing: border-box; /* Include padding e bordi nella larghezza e nell'altezza */
    width: 100%;
    height: 100%;
    margin: 12px 0;
   }

   .call-to-action {
    background-color: #c5c5dd;
    height: 80px;
   }

   .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .cta-button:hover {
    background-color: #cc5200;
  }
  
  .content {
    background-color: #EAEDF0;
    flex-direction: column;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    height: auto;
  }

  .film-card {
    border: 1px solid #ddd;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    box-sizing: border-box;
}
.film-card img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  display: block;
  margin-bottom: 8px;
  border-radius: 8px;
}
.film-card h3 {
    margin-top: 0;
}
.film-card p {
    margin: 4px 0;
}
.film-card a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 8px;
}
.film-card .plot{
  margin-top: 19.5px;
}
.film-card .complete-plot {
  margin: 12px 0;
}
.film-card .review{
  margin-top: 19.5px;
}
.film-card .complete-review {
  margin: 12px 0;
}
  
  .sign-up {
    flex-direction: column;
    background-color: #f4f4f4;
    text-align: center;
  }
  
  #sign-up h2 {
    margin-bottom: 8px;
  }
  
  #sign-up form {
    display: inline-block;
    text-align: left;
  }
  
  #sign-up label {
    display: block;
    margin-bottom: 7px;
  }
  
  #sign-up input {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  

  #sign-up button {
    padding: 6px 16px;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #sign-up button:hover {
    background-color: #cc5200;
  }

  .form-group {
    margin-bottom: 5px;
  }
  
  .feature-1,
  .feature-2,
  .feature-3 {
    flex-direction: column;
    background-color: #F5CF8E;
    justify-content: start;
  }

  .feature-1 h3,
  .feature-2 h3,
  .feature-3 h3 {
    font-size: 1.35em;
    color: #333;
    align-self: start;
    padding: 20px;
    margin-bottom: 0px;
  }
  
  .feature-1 p,
  .feature-2 p,
  .feature-3 p {
    font-size: 0.9em;
    color: #666;
    padding-left: 20px;
    padding-right: 20px;
  }


  

@media screen and (max-width: 500px) {
    .navbar {
        justify-content: space-around; /* Distribuisce gli elementi in modo uniforme */
    }

    .navbar li {
        margin-right: 10px; /* Riduce lo spazio tra gli elementi */
    }

    .navbar a {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14.75px; /* Riduce la dimensione del testo */
    }

    .feature-1,
    .feature-2,
    .feature-3 {
        height: 220px;
    }
}

  /* Tablet Styles */        
@media only screen and (min-width: 501px) and (max-width: 960px) {   
    .navbar a {
        padding-left: 10px;
        padding-right: 10px;
    }

    .sign-up,
    .feature-1,
    .feature-2,
    .feature-3 {
      width: 50%;
    }
  }    /**modifica a 401
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    .page {
        width: 960px;
        margin: 0 auto;
      }
      .feature-1,
      .feature-2,
      .feature-3 {
        width: 33.3%;
      }
      .sign-up {
        order: 1;
      }
      .content {
        order: 2;
      }
  }

