.call-to-action {
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
   }

   .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .cta-button:hover {
    background-color: #cc5200;
  }